\documentclass[11pt]{article}

\usepackage[left=0.5in,top=0.5in,right=0.5in]{geometry}
\usepackage[utf8]{inputenc}
\usepackage[brazil]{babel}
\usepackage[hidelinks]{hyperref}
\usepackage[parfill]{parskip}
\usepackage{array}
\usepackage{palatino}
\usepackage[T1]{fontenc}
\usepackage{titlesec}
\usepackage{fontawesome5}
\usepackage{tabularx}

\pagestyle{empty} % remove page numbers

\setlength{\parfillskip}{0pt}

\titleformat
{\section} % command
[display] % shape
{\bfseries\large} % format
{} % label
{} % sep
{} % before-code
[\hrule] % after-code

\newenvironment{tightlist}
  {\begin{list}
    {$\cdot$}
    {
      \setlength{\leftmargin}{0em}
      \setlength{\itemsep}{\smallskipamount}
    }
  }
{\end{list}}

\newcommand{\resumeSubSectionHeading}[4]{
  \begin{tabular*}{\textwidth}{@{\extracolsep{\fill}}l r@{\extracolsep{\fill}}}
    \textbf{#1} & #2 \\
    \emph{\small#3} & \emph{\small#4} \\
  \end{tabular*}\vspace{-5pt}
}

\begin{document}

\begin{center}
  \huge\bf <$ basics.name | upper $>
\end{center}
\smallskip

\begin{center}
  <$ basics.birthday | birthday $> $\cdot$ <$ basics.location.city $>
\end{center}
\smallskip

\begin{center}
  \href{mailto:<$ basics.email | escapeUnderline $>}{\faIcon[solid]{envelope} <$ basics.email | escapeUnderline $>}
  $\cdot$
  \href{<$ basics.url $> }{\faIcon[solid]{globe} <$ basics.url $>}
  {<%- for profile in basics.profiles %>}
    $\cdot$
    \href{<$ profile.url $>}{\faIcon[solid]{<$ profile.network | lower $>} <$ profile.username $>}
  {<%- endfor %>}
\end{center}
\smallskip

\section*{EXPERIÊNCIA}

{<%- for job in work %>}
\resumeSubSectionHeading{\href{<$ job.url $>}{<$ job.name $>}}{<$ job.startDate | periodDate $> -- <$ "Presente" if not job.endDate else job.endDate | periodDate $>}{<$ job.position $>}{<$ job.location $>}

\begin{tightlist}
  {<%- for highlight in job.highlights %>}
  \item <$ highlight $>
  {<%- endfor %>}
\end{tightlist}
\medskip

{<%- endfor %>}

\section*{FORMAÇÃO}

\resumeSubSectionHeading{\href{<$ education[0].url $>}{<$ education[0].institution $>}}{<$ education[0].startDate | periodDate $> -- <$ education[0].endDate | periodDate $>}{<$ education[0].area $>}{<$ education[0].location $>}
\medskip

\section*{IDIOMAS}

\begin{tightlist}
  {<%- for language in languages %>}
  \item <$ language.language $>: <$ language.fluency $>.
  {<%- endfor %>}
\end{tightlist}

\end{document}

%% vim: ft=tex
