\documentclass[11pt]{article}

\usepackage[left=1cm,top=1cm,right=1cm]{geometry}
\usepackage[utf8]{inputenc}
\usepackage[brazil]{babel}
\usepackage{hyperref}
\usepackage[parfill]{parskip}
\usepackage{array}
\usepackage{palatino}
\usepackage[T1]{fontenc}
\usepackage{titlesec}
\usepackage{fontawesome5}

\setlength{\parfillskip}{0pt}

\titleformat
{\section} % command
[display] % shape
{\bfseries\large} % format
{} % label
{\medskip} % sep
{} % before-code
[\hrule] % after-code

\newenvironment{jobHighlights}
  {\begin{list}
    {$\cdot$}
    {
      \setlength{\leftmargin}{0em}
      \setlength{\itemsep}{\smallskipamount}
    }
  }
{\end{list}}

\begin{document}

\pagestyle{empty}

\begin{center}
  \huge\bf <$ basics.name | upper $>
\end{center}
\smallskip

\begin{center}
  <$ basics.birthday | birthday $> $\cdot$ <$ basics.location.city $>
\end{center}
\smallskip

\begin{center}
  \href{mailto:<$ basics.email | escapeUnderline $>}{\faIcon[solid]{envelope} <$ basics.email | escapeUnderline $>}
  $\cdot$
  \href{<$ basics.url $> }{\faIcon[solid]{globe} <$ basics.url $>}
  {<%- for profile in basics.profiles %>}
    $\cdot$
    \href{<$ profile.url $>}{\faIcon[solid]{<$ profile.network | lower $>} <$ profile.username $>}
  {<%- endfor %>}
\end{center}
\smallskip

\section*{EXPERIÊNCIA}

{<%- for job in work %>}
\textbf{\href{ <$ job.url $> }{ <$ job.name $> }} \hfill <$ job.startDate | periodDate $> -- <$ job.endDate | periodDate $> \\
\textit{<$ job.position $>} \hfill \textit{Remoto}

\begin{jobHighlights}
  {<%- for highlight in job.highlights %>}
  \item <$ highlight $>
  {<%- endfor %>}
\end{jobHighlights}
\medskip

{<%- endfor %>}

\section*{FORMAÇÃO}

\textbf{\href{<$ education[0].url $>}{<$ education[0].institution $>}} \hfill <$ education[0].startDate | periodDate $> -- <$ education[0].endDate | periodDate $> \\
\textit{<$ education[0].area $>} \hfill \textit{Seropédica, RJ}
\medskip

\section*{IDIOMAS}

\begin{jobHighlights}
  {<%- for language in languages %>}
  \item <$ language.language $>: <$ language.fluency $>.
  {<%- endfor %>}
\end{jobHighlights}

\end{document}

%% vim: ft=tex
