\documentclass[11pt]{article}

\usepackage[left=0.5in,top=0.5in,right=0.5in,bottom=0.5in]{geometry}
\usepackage[utf8]{inputenc}
\usepackage[brazil]{babel}
\usepackage[hidelinks]{hyperref}
\usepackage[parfill]{parskip}
\usepackage{newpxtext}
\usepackage[T1]{fontenc}
\usepackage{titlesec}
\usepackage{fontawesome5}
\usepackage{tabularx}
\usepackage{enumitem}
\usepackage{csquotes}

\pagestyle{empty} % remove page numbers

\setlength{\parfillskip}{0pt}

\titleformat
{\section} % command
[display] % shape
{\bfseries\large} % format
{} % label
{} % sep
{} % before-code
[\hrule] % after-code

\newenvironment{tightlist}
  {\begin{list}
    {$\cdot$}
    {
      \setlength{\leftmargin}{0em}
      \setlength{\itemsep}{\smallskipamount}
    }
  }
{\end{list}}

\newcommand{\resumeSubSectionHeadingTableStart}{\begin{tabular*}{\textwidth}{@{\extracolsep{\fill}}l r@{\extracolsep{\fill}}}}
\newcommand{\resumeSubSectionHeadingTableEnd}{\end{tabular*}}

\newcommand{\resumeSubSectionHeading}[4]{
  \resumeSubSectionHeadingTableStart
    \textbf{#1} & #2 \\
    \emph{\small#3} & \emph{\small#4} \\
  \resumeSubSectionHeadingTableEnd
}

\newcommand{\resumeSubSectionProjectHeading}[2]{
  \resumeSubSectionHeadingTableStart
    \textbf{#1} & #2
  \resumeSubSectionHeadingTableEnd
}

\newcommand{\resumeListStart}{\begin{itemize}[leftmargin=*]}
\newcommand{\resumeListEnd}{\end{itemize}}
\newcommand{\resumeListItem}{\item\small}

\newcommand{\headingIcon}[1]{\raisebox{-0.2ex}{\faIcon[solid]{#1}}}

\begin{document}

\begin{center}
  \huge\bf <$ basics.name | upper $>
\end{center}
\smallskip

\begin{center}
  <$ basics.birthday | birthday $> $\cdot$ <$ basics.location.city $>, <$ basics.location.region $>
\end{center}
\smallskip

\begin{center}
  \href{mailto:<$ basics.email | escapeUnderline $>}{\headingIcon{envelope} <$ basics.email | escapeUnderline $>}
  $\cdot$
  \href{<$ basics.url $> }{\headingIcon{globe} <$ basics.url | replace("https://", "") $>}
  {<%- for profile in basics.profiles %>}
    $\cdot$
    \href{<$ profile.url $>}{\headingIcon{<$ profile.network | lower $>} <$ profile.username $>}
  {<%- endfor %>}
\end{center}
\smallskip

\section*{EXPERIÊNCIA}

{<%- for job in work %>}
\resumeSubSectionHeading
  {\href{<$ job.url $>}{<$ job.name $>}}{<$ job.startDate | formatPeriod(job.endDate) $>}
  {<$ job.position $>}{<$ job.location $>}
\resumeListStart
  {<%- for highlight in job.highlights %>}
  \resumeListItem{<$ highlight | escapeQuotes $>}
  {<%- endfor %>}
\resumeListEnd
\medskip
{<%- endfor %>}

\section*{PROJETOS}

{<%- for project in projects %>}
\resumeSubSectionProjectHeading
  {<$ project.name $>}{<$ project.startDate | formatPeriod(project.endDate) $>}
\resumeListStart
  {<%- for highlight in project.highlights %>}
  \resumeListItem{<$ highlight | escapeQuotes $>}
  {<%- endfor %>}
\resumeListEnd
\medskip
{<%- endfor %>}

\section*{FORMAÇÃO}

\resumeSubSectionHeading
  {\href{<$ education[0].url $>}{<$ education[0].institution $>}}{<$ education[0].startDate | formatPeriod(education[0].endDate) $>}
  {<$ education[0].area $>}{<$ education[0].location $>}
\medskip

\section*{IDIOMAS}

\resumeListStart
  {<%- for language in languages %>}
  \resumeListItem{<$ language.language $>: <$ language.fluency $>.}
  {<%- endfor %>}
\resumeListEnd

\end{document}

%% vim: ft=tex
