<!DOCTYPE html>
<head>
  <meta charset="UTF-8" />
  <meta name="viewport" content="width=device-width, initial-scale=1.0" />
  <link
    rel="stylesheet"
    href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/6.0.0/css/all.min.css"
  />
  <title>Resumé | Phelipe Teles</title>
</head>
<body>
  <h1>{{ basics.name | upper }}</h1>

  <ul class="subheader">
    <li>{{ basics.birthday }}</li>
    <li>{{ basics.location.city }}</li>
  </ul>

  <ul class="subheader">
    <li>
      <a href="mailto:{{ basics.email }}">
        <i class="fa-solid fa-envelope"></i>{{ basics.email }}</a>
    </li>
    <li>
      <i class="fa-solid fa-globe"></i><a href="{{ basics.url }}">{{ basics.url }}</a>
    </li>
    {% for profile in basics.profiles %}
    <li>
      <i class="fa-brands fa-{{ profile.network | lower }}"></i><a href="{{ profile.url }}">{{ profile.username }}</a>
    </li>
    {% endfor %}
  </ul>

  <h2>EXPERIÊNCIA</h2>
  {% for job in work %}
    <table class="subsectionHeader">
      <tbody>
        <tr>
          <td><a href="{{ job.url }}">{{ job.name }}</a></td>
          <td>{{ job.startDate | formatPeriod(job.endDate) }}</td>
        </tr>

        <tr>
          <td>{{ job.position }}</td>
          <td>{{ job.location }}</td>
        </tr>
      </tbody>
    </table>

    <ul>
      {% for highlight in job.highlights %}
      <li>{{ highlight }}</li>
      {% endfor %}
    </ul>
  {% endfor %}

  <h2>PROJETOS</h2>
  <ul>
    {% for project in projects %}
      <table class="subsectionHeader">
        <tbody>
          <tr>
            <td>{{ project.name }}</td>
            <td>{{ project.startDate | formatPeriod(project.endDate) }}</td>
          </tr>
        </tbody>
      </table>

      {% for highlight in project.highlights %}
        <li>{{ highlight }}</li>
      {% endfor %}
    {% endfor %}
  </ul>

  <h2>IDIOMAS</h2>
  {% for language in languages %}
    <ul>
      <li>{{ language.language }}: {{ language.fluency }}</li>
    </ul>
  {% endfor %}
</body>
